@{
    Mesa? mesa = (Mesa)ViewData["mesa"];
    string estado = mesa?.Estado == true ? "Disponible" : "No Disponible";
    int id = mesa?.Id ?? 0;

    Cuenta? cuenta = (Cuenta)ViewData["cuenta"];
}
<div class="container">
    <div class="row py-4 justify-content-between w-100">
        <div class="col-md-6">
            <h2>Mesa 1</h2>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <button type="button" class="btn btn-dark px-5">@estado</button>
        </div>
        <div class="py-5">
            <div class="row pb-4">
                <div class="col-md-5">
                    <label for="nombre"><h5>Nombre</h5></label>


                </div>
                <div class="col-md-5">
                    <label for="nombre"><h5>Apellido</h5></label>

                </div>

            </div>
            <div class="row">
                <form asp-action="AgregarCliente">
                    <div class="col-md-5">
                        @Html.TextBox("nombre", "", new { @class = "form-control", placeholder = "Escribe tu nombre aquí" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBox("apellido", "", new { @class = "form-control", placeholder = "Escribe tu apellido aquí" })
                    </div>
                    @Html.Hidden("idMesa", id)
                    <div class="col-md-2 col-sm-10 d-flex justify-content-center align-items-center">
                        <button class="btn btn-dark rounded-3 ms-4" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="row py-4">
                <h5>Detalle Cliente</h5>
            </div>

            @if (cuenta != null)
            {
                <div class="card mb-3 w-100 p-1 border-dark">
                    <div class="row g-0">

                        <div class="col-md-10">
                            <div class="card-body">
                                <p class="card-title">Nombre Cliente</p>
                                <a class="text-decoration-none" data-bs-toggle="collapse" href="#multiCollapseExample1">
                                    <p>Order @cuenta.IdCuenta</p>
                                </a>

                                <p class="card-text">Subtotal: @ViewData["total"]</p>
                            </div>
                        </div>
                        <div class="col-md-2 pe-5 d-flex align-items-center justify-content-end">
                            <button class="btn btn-dark rounded-3" type="button" data-toggle="modal" data-target="#exampleModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                </svg>
                            </button>
                        </div>

                    </div>


                </div>
                <div class="collapse multi-collapse scrollable" id="multiCollapseExample1">
                    <div class="card card-body">
                        <div class="container py-3">
                            <div class="row">
                            </div>
                            <div class="row">
                                @foreach (var detalle in (IEnumerable<dynamic>)ViewData["platos"])
                                {
                                    <div class="col-md-4">
                                        <div class="card" style="height:150px">
                                            <div class="card-body">
                                                <div class="pb-1">
                                                    <p>
                                                        @detalle.nombre <span class="badge text-white bg-warning text-end"> @detalle.estado</span>
                                                    </p>
                                                </div>
                                                <small>Precio: $@detalle.precio</small>
                                                <br />
                                                <div class="d-flex">
                                                    <div>
                                                        <small>Comentarios: @detalle.comentario</small>
                                                    </div>

                                                    <div class="d-flex justify-content-end align-items-end">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @foreach (var detalle in (IEnumerable<dynamic>)ViewData["promociones"])
                                {
                                    <div class="col-md-4">
                                        <div class="card" style="height:150px">
                                            <div class="card-body">
                                                <div class="pb-1">
                                                    <p>
                                                        @detalle.nombre <span class="badge text-white bg-warning text-end"> @detalle.estado</span>
                                                    </p>
                                                </div>
                                                <small>Precio: $@detalle.precio</small>
                                                <br />
                                                <div class="d-flex">
                                                    <div>
                                                        <small>Comentarios: @detalle.comentario</small>
                                                    </div>

                                                    <div class="d-flex justify-content-end align-items-end">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @foreach (var detalle in (IEnumerable<dynamic>)ViewData["combos"])
                                {
                                    <div class="col-md-4">
                                        <div class="card" style="height:150px">
                                            <div class="card-body">
                                                <div class="pb-1">
                                                    <p>
                                                        @detalle.nombre <span class="badge text-white bg-warning text-end"> @detalle.estado</span>
                                                    </p>
                                                </div>
                                                <small>Precio: $@detalle.precio</small>
                                                <br />
                                                <div class="d-flex">
                                                    <div>
                                                        <small>Comentarios: @detalle.comentario</small>
                                                    </div>

                                                    <div class="d-flex justify-content-end align-items-end">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>


    <!-- Modal -->
    <div class="modal modal-xl-centered" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row py-4 d-flex">
                            <h5 class="py-3">Platos</h5>

                            @foreach (var plato in (IEnumerable<dynamic>)ViewData["totalPlatos"])
                            {
                                <form asp-action="AgregarComida">
                                    <div class="col-md-4 py-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-2">@plato.Nombre</h5>
                                                <h6 class="card-subtitle mb-2 text-body-secondary">Precio: $@plato.Precio</h6>
                                                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                                                <textarea class="form-control" id="comentario" name="comentario" rows="5"></textarea>
                                                @Html.Hidden("platoId", (int)plato.PromocionId)
                                                @Html.Hidden("precio", (decimal)plato.Precio)
                                                @Html.Hidden("idCuenta", cuenta.IdCuenta)
                                                <button type="submit" class="btn btn-dark my-3">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                        <div class="row py-4 d-flex">
                            <h5 class="py-3">Agregar Combos</h5>

                            @foreach (var plato in (IEnumerable<dynamic>)ViewData["totalCombos"])
                            {
                                <form asp-action="AgregarComida">
                                    <div class="col-md-4 py-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-2">@plato.Nombre</h5>
                                                <h6 class="card-subtitle mb-2 text-body-secondary">Precio: $@plato.Precio</h6>
                                                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                                                <textarea class="form-control" id="comentario" name="comentario" rows="5"></textarea>
                                                @Html.Hidden("comboId", (int)plato.ComboId)
                                                @Html.Hidden("precio", (decimal)plato.Precio)
                                                @Html.Hidden("idCuenta", cuenta.IdCuenta)
                                                <button type="submit" class="btn btn-dark my-3">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>

                    </div>

                    <div class="container">

                        <div class="row py-4 d-flex">
                            <h5 class="py-3">Agregar Promoción</h5>


                            @foreach (var plato in (IEnumerable<dynamic>)ViewData["totalPromos"])
                            {
                                <form asp-action="AgregarComida">
                                    <div class="col-md-4 py-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title mb-2">@plato.Nombre</h5>
                                                <h6 class="card-subtitle mb-2 text-body-secondary">Precio: $@plato.Precio</h6>
                                                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                                                <textarea class="form-control" id="comentario" name="comentario" rows="5"></textarea>
                                                @Html.Hidden("promoId", (int)plato.PlatoId)
                                                @Html.Hidden("precio", (decimal)plato.Precio)
                                                @Html.Hidden("idCuenta", cuenta.IdCuenta)
                                                <button type="submit" class="btn btn-dark my-3">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
